@import "tailwindcss";

select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%233f2e2b' height='32' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5rem;
}